.design-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--discription-topic-color);
  margin-bottom: 4px;
}

.design-bottom-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--discription-subtopic-color);
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: calc((100% - 60px) / 3);
}

.card-resourse {
  position: relative;
  overflow: hidden;
}

.card-text-resourse {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--som-white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
  .card-item:hover & {
  transform: translateY(0%);
}
}

.card-link {
  display: block;
  transition: box-shadow 250ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}