:root {
  --discription-subtopic-color: #757575;
  --discription-topic-color: #212121;
  --main-btn-color: #2196f3;
  --som-white-color: #ffffff;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2));
}
